:root {
    --primary-color: red;
    --button-color: rgb(53, 53, 187);
    --display-flex: flex;
}

/* .body-main {} */


.carousel-status {
    display: none;
}

.thumbs {
    display: none;
}

.carousel-root,
.carousel-slider,
.carousel .slider-wrapper {
    height: 100% !important;
}

.carousel .slider {
    height: 100% !important;
}

.slide div {
    height: 100% !important;
}

.carousel.carousel-slider {
    height: 100% !important;
}

.body-main-middle {
    height: 600px;
}

.body-main-middle img {
    height: 100%;
    width: 100%;
}



/* slider css */



.swiper-pagination {
    display: none !important;
}


.carousel.carousel-slider .control-arrow {
    background-color: rgba(0, 0, 0, 0.2);
}

.carousel.carousel-slider .control-arrow:HOVER {
    background-color: rgba(0, 0, 0, 0.5);
}


.carousel.carousel-slider .control-arrow {
    top: 270px;
    border-radius: 50%;
    height: 4rem;
    width: 4rem;
    color: #fff;
    font-size: 10px;
    bottom: 270px;
    margin-top: 0;
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel .control-next.control-arrow {
    right: 20px;
}

.carousel .control-prev.control-arrow {
    left: 20px;
}



.logo1,
.logo2,
.logo3,
.logo4,
.logo5,
.logo6 {
    background-color: azure;
    border-radius: 25%;
}


.related-items {
    display: flex;
    align-items: center;
    gap: 0.2rem;
    height: 300px;
    padding: 15px 15px;
    box-shadow: 2px 2px 5px 7px rgba(0, 0, 0, 0.2);
    margin: 20px 20px;
}

.viewall {
    height: 90%;
    width: 17%;
    min-width: 130px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.viewall button {
    background-color: var(--button-color);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.viewall button:active {
    transform: scale(0.97);
}

.allitems {
    display: flex;
    /* border: 2px solid rgb(241, 9, 9); */
    width: 86%;
    height: 90%;
}

.allitems a {
    text-decoration: none;
    color: black;
}

.swiper {
    width: 100%;
}

.Itemdiv {
    /* border: 3px solid green; */
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.card {
    display: flex;
    flex-direction: column;
    /* border: 2px solid pink; */
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    cursor: pointer;
    /* border: 1px solid transparent; */
}

.card:hover {
    border-color: var(--button-color);
    transition: 0.5s;
}

.card p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.card img {
    height: 80%;
    width: 100%;
    /* padding: 10px; */
    object-fit: contain;
}

.todaysloader {
    width: 100%;
    display: flex;
    justify-content: center;
}

.todaysloader .skeleton {
    font-size: 2rem;
}

.todaysloader * {
    display: flex;
    flex-direction: column;

    width: 100%;
}

@media screen and (max-width:1200px) {
    .related-items {

        height: 260px;

    }
}

@media screen and (max-width:1100px) {

    .viewall {
        display: none;
    }

    .allitems {
        width: 100%;
        height: 100%;
    }

    .related-items {

        height: 240px;

    }
}

@media screen and (max-width:1000px) {

    .body-main-middle {
        height: 400px;
    }

    .carousel-root,
    .carousel-slider {
        max-height: 400px;
    }

    .carousel.carousel-slider .control-arrow {
        top: 180px;
    }

}

@media screen and (max-width:900px) {
    .related-items {
        height: 220px;
    }
}

@media screen and (max-width: 900px) {
    .related-items {
        height: 180px;
    }
}

@media screen and (max-width:700px) {
    .body-main-middle {
        height: 225px;
    }

    .carousel.carousel-slider .control-arrow {
        top: 90px;
    }
}

@media screen and (max-width: 580px) {
    .related-items {
        height: 160px;
    }


}

@media screen and (max-width: 500px) {

    .swiper-button-prev,
    .swiper-button-next {
        display: none;
    }

    .related-items {
        box-shadow: 2px 2px 5px 7px rgb(0 0 0 / 20%);
        margin: 20px 6px;
    }

    .brandlogodiv {
        margin: 15px 1px 15px 1px;
    }

    .category {
        gap: 1px;
    }
}